body{
    background-color: gold;
}
.img-class{
    width: 300px;
    height: 400px;
}
.card-containers{
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 300px;
    background-color: darkcyan;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px black;
    margin: 10px;
}
.card:hover{
    box-shadow: 8px 12px 8px white;
}
.card .card-title{
   font-size: x-large;
   text-align: center;
   font-weight: bolder;
}
.card .card-description{
    padding: 2px;
    text-align: justify;
}